<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>
</head>
<body>
    <h1> ERROR 404 <BR/>PAGE NOT FOUND</h1>
</body>
<style>
  
    h1 {
        color: red;
        text-align: center;
        margin: auto;
        width: 700px;
        font-size: 50px;
        margin-top: 260px;
    }
    body {
        background-color: lightgray;
    }
</style>
</html>