<!--Action boxes-->
<div class="container-fluid">
  {{> messages }}
  <div class="quick-actions_homepage">
    <ul class="quick-actions">
      <li class="bg_lb span2"> <a href="/access/order"> <i class="icon-dashboard"></i> <span
            class="label label-important">20</span>View Orders </a> </li>
      <li class="bg_lg span2"> <a href="/"> <i class="icon-signal"></i><span
            class="label label-success">101</span></i>View Customers</a> </li>
      <li class="bg_ly"> <a href="/"> <i class="icon-inbox"></i><span class="label label-success">101</span> Payment
          Methods </a> </li>
      <li class="bg_lo"> <a href="/"> <i class="icon-th"></i><span class="label label-success">101</span></i> Cancel
          Order</a> </li>
      <li class="bg_ls"> <a href="/"> <i class="icon-fullscreen"></i><span class="label label-success">101</span></i>
          Delivery</a> </li>
      <li class="bg_lo span2"> <a href="/"> <i class="icon-th-list"></i> </i><span
            class="label label-success">101</span>Categories</a> </li>
      {{!-- <li class="bg_ls"> <a href="buttons.html"> <i class="icon-tint"></i> Buttons</a> </li>
        <li class="bg_lb"> <a href="interface.html"> <i class="icon-pencil"></i>Elements</a> </li>
        <li class="bg_lg"> <a href="calendar.html"> <i class="icon-calendar"></i> Calendar</a> </li>
        <li class="bg_lr"> <a href="error404.html"> <i class="icon-info-sign"></i> Error</a> </li> --}}
    </ul>
  </div>
  <!--End-Action boxes-->
  <hr />
</div>
</div>

<!--end-main-container-part-->