<div class="container-fluid">
  <div class="widget-box">
    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
      <h5>All Orders</h5>
    </div>
    <div class="widget-content nopadding">
      <table class="table table-bordered data-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>SIze</th>
            <th>Brand</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="gradeX">
            <td>Misc</td>
            <td>Lynx</td>
            <td>Text only</td>
            <td>66-</td>
            <td>wow</td>
            <td>wow</td>
          </tr>

          <tr class="gradeX">
            <td>Other browsers</td>
            <td>All others</td>
            <td>eyy</td>
            <td>ggg</td>
            <td>wow</td>
            <td>wow</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<!--end-main-container-part-->