<div id="loginbox">  
{{> messages }}
            <form id="loginform" class="form-vertical" action="login" method="POST" >
				 <div class="control-group normal_text"> <h3><img src="../admin/img/logo.png" alt="Logo" /></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" required name="password" placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-right"><button type="submit" class="btn btn-success" /> Login</button></span>
                </div>
            </form>
        </div>
        