<!-- Contact section -->
<section class="contact-section">
	<div class="container">
		{{> messages }}
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 contact-info">
				<h3 class="text-danger">Login</h3>
				<form action="/users/login" method="POST" class="contact-form">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<input type="email" autofocus required placeholder="Your e-mail" name="email">
					<input type="password" required placeholder="Password" name="password"><br /><br />
					<p style="float: right;"> <a href="forgot-password" rel="noopener noreferrer">Forgot Password?</a>
					</p>
					<button type="submit" name="submit" class="site-btn">Login</button>
				</form>
			</div>
			<div class="col-lg-2"></div>
		</div><br /><br />
	</div>
</section>